* {
	box-sizing: border-box;
}
body {
	color: #000;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	padding: 0;
}
.row {
	margin: 0;
}
.feature {
	/*background: transparent url('http://via.placeholder.com/910x515') no-repeat top center;
	background-size: cover;*/
	background-color: #999;
	height: 772px;
}
.feature label {
	display: block;
	padding-top: 50px;
}
.feature hr {
	margin-bottom: 100px;
}
.feature p {
	color: #FFF;
	font-size: 18px;
	line-height: 23px;
}
.small-map {
}
.main-content {
	position: relative;
}
.story {
	position: relative;
	width: 60%;
	z-index: 2;
}
#map {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 3000px;
	z-index: 1;
}
.icon {
	border: 2px solid #000;
	display: inline-block;
	height: 16px;
	margin-right: 10px;
	vertical-align: -4px;
	width: 16px;
}
.footer {
	margin-bottom: 24px;
	margin-top: 24px;
}
.footer hr {
	border-bottom: 2px solid #000;
}
.logo-container {
	display: flex;
	flex-direction: row;
}
.logo {
	border: 2px solid #000;
	margin-left: 34px;
	margin-top: 34px;
}
.main-header.sticky {
	background-color: #FFF;
	margin-top: 0;
	padding-top: 20px;
	position: fixed;
	top: 0;
	z-index: 3;
}
.story.sticky {
	height: 100vh;
	overflow: auto;
	position: fixed;
	top: 80px;
	width: 49%;
	z-index: 3;
}
.segment {
	display: none;
}
.segment:first-child {
	display: block;
}
h1 {
	color: #FFF;
	font-size: 72px;
	font-weight: 700;
	line-height: 72px;
	margin: 10px 0 20px;
}
h3 {
	border-bottom: 2px solid #000;
	font-size: 21px;
	font-weight: 700;
	line-height: 23px;
	margin-top: 36px;
	padding-bottom: 5px;
	width: 65%;
}
h3.no-border {
	border-bottom: 0;
	text-transform: uppercase;
}
h4 {
	font-size: 14px;
	line-height: 18px;
	margin-top: 4px;
}
label {
	color: #FFF;
	text-transform: uppercase;
}
hr {
	border: 1px solid #D8D8D8;
}
img {
	margin-bottom: 20px;
}