* {
	box-sizing: border-box;
}
body {
	color: #000;
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	line-height: 20px;
	margin: 0;
	padding: 0;
}

.overlay {
	background-color: rgba(0,0,0,0.2);
	height: 100vh;
	left: 0;
  min-height: 590px;
	position: absolute;
	top: 0;
	width: 100%;
}

.arrow {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}
.arrow img {
	margin: 0;
	width: 25px;
}

.hero {
	background: url(../assets/feature.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  min-height: 590px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
.hero .container {
	max-width: 1024px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  width: 100%;
}
.inner-container {
	display: flex;
	flex-flow: row;
}
.inner-container > div {
	margin: 0 20px;
}
.hero .header {
	border-bottom: 1px solid #CCC;
	margin-bottom: 50px;
	text-align: center;
}
.hero .map-graphic {
	width: 40%;
}
.hero .map-graphic img {
	width: 100%;
}
.hero .hero-text {
	color: #FFF;
	font-size: 18px;
	line-height: 23px;
	width: 60%;
}


.ticker {
  background-color: rgba(255,255,255,0.8);
	border-bottom: 1px solid #CCC;
	height: 50px;
	padding: 0 20px;
	position: fixed;
	top: -50px;
	transition: top 0.5s ease; 
  width: 100%;
	z-index: 91;  
	overflow: hidden; 
}
.ticker.active {
	top: 0;
}
.ticker p {
	font-size: 16px;
	font-weight: bold;
	line-height: 50px;
	margin: 0;
	padding: 0;
}

hr {
	border-bottom: none;
	border-color: #FFF;
}

hr.black {
	border-color: #000;
}

#narrative {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
}

#sections {
  position: relative;
  z-index: 90;
}

.main {
  padding-top: 30px;
}

.main section {
	background-color: rgba(255, 255, 255, 0.6);
	padding: 20px;
	width: 50%;
}

.main section img {
	width: 100%;
}

.step {
  margin-top: 100px;
  width: 50%;
}

.icon {
	border: 2px solid #000;
	display: inline-block;
	height: 16px;
	margin-right: 10px;
	vertical-align: -4px;
	width: 16px;
}

section.active .icon {
	background-color: #861100;
} 

.slideshow {
	margin-left: 24px;
	margin-top: 40px;
}
.slideshow .slick-dots {
	bottom: -15px;
}
.slideshow .slick-dots li {
	margin: 0;
}
.slideshow .slick-dots li button:before {
	font-size: 10px;
}
.slick-prev:before, .slick-next:before {
	color: black;
}
.slideshow .slick-slide img {
	margin-bottom: 5px;
}
.slideshow .slide-caption,
.photo-credit {
	color: #777;
	font-size: 11px;
	font-style: italic;
}
.photo-credit {
  bottom: 0;
	color: #FFF;
  font-size: 11px;
  left: 20px;
	position: absolute;
}


footer {
	background-color: #353535;
	border-top: 1px solid #CCC;
	color: #FFF;
	padding-top: 20px;
	width: 100%;
}
footer .inner {
	margin: 0 auto;
	max-width: 1024px;
}
footer .inner-container > *:first-child {
	width: 60%;
}
.stats {
  list-style-type: none;
	padding: 0;
	margin-right: 20px;
	text-align: right;
	width: 40%;
}
.stats li {
	padding-bottom: 20px;
}
.stats span {
	font-size: 30px;
	font-weight: bold;
}
.logos {
	background-color: #252525;
	margin-top: 20px;
	padding: 18px 20px 9px;
}
.logos img {
	margin-bottom: 0;
	width: auto;
}
.logos div {
	display: flex;
	flex-flow: row;
	margin: 0 auto;
	max-width: 1024px;
	padding-right: 20px;
}
.logos div > *:first-child {
	margin-left: auto;
	margin-right: 40px;
}


h1 {
	color: #FFF;
	font-size: 50px;
	font-weight: 700;
	line-height: 50px;
	margin: 10px 0 20px;
}
h3 {
	font-size: 18px;
	font-weight: 700;
	line-height: 21px;
}
h4 {
	font-size: 15px;
	line-height: 20px;
	margin-top: 4px;
}
p {
	margin: 0;
	padding: 10px 0;
}
a {
	color: #007ce0;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.small {
	color: #888;
	font-size: 11px;
	line-height: 13px;
	padding: 0 20px;
}
label {
	color: #FFF;
	text-transform: uppercase;
}
hr {
	border: 1px solid #D8D8D8;
}
img {
	margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  #map {
  	top: auto;
  	height: 50%;
  }
  #narrative {
  	border-bottom: 1px solid #CCC;
  	bottom: auto;
  	height: 50%;
  }
  .main section {
		background-color: rgba(255, 255, 255, 1);
  	width: 100%;
  }
  .arrow {
  	display: none;
  }
  .photo-credit {
  	left: 0;
  	position: relative;
  }
  .overlay {
  	height: 100%;
  	min-height: 0;
  }
  .hero {
  	background-position: top center;
  	background-attachment: scroll;
  	height: auto;
  	min-height: 0;
  	overflow-y: none;
  	-webkit-overflow-scrolling: none;
  }
  .hero .container {
  	position: relative;
  	padding-top: 20px;
  	top: 0;
  	left: 0;
  	transform: none;
  }
  .hero .header {
  	margin: 0 20px;
  	padding-top: 0;
  }
	.hero .map-graphic {
		display: none;
	}
	.hero .hero-text {
		font-size: 16px;
		line-height: 20px;
		width: 100%;
	}
  .slideshow {
  	margin-left: 0;
  }
  .slideshow .slick-slide img {
  	margin-bottom: 0;
  }
  .slideshow .slick-dots {
  	bottom: -25px;
  }
  .slick-prev:before, .slick-next:before {
  	display: none;
  }
  h1 {
  	font-size: 26px;
  	line-height: 30px;
  }
  footer .inner-container {
  	flex-flow: column;
  }
  footer .inner-container > *:first-child {
  	margin: 0;
  	padding: 0 20px;
  	width: 100%;
  }
  .logos div > *:first-child {
  	margin-left: 0;
  }
  .stats {
  	padding-left: 20px;
  	text-align: left;
  	width: 100%;
  }
}